<p id="notice"></p>
<h1 class="header"><strong>Books</strong></h1>
<table border="1">
  <thead>
    <tr>
      <th class="title-c"><strong>Title</strong></th>
      <th class="body-c"><strong>Body</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="title-c">アイウエオ</tb>
      <td class="body-c">2</tb>
      <td class="table-link">3</tb>
      <td class="table-link">4</tb>
      <td class="table-link">5</tb>
    </tr>
  </tbody>
</table>
