<div class="kankaku">
  <h1>ようこそ<strong>BOOKERS</strong>へ！</h1>
  <p class="padding"><strong>BOOKERS</strong>では、さまざまな書籍に関するあなたの意見や</p>
  <p class="padding">印象を共有することができます</p>
  <p class="padding"><%= link_to "start", "/books" %></p>
</div